{
  "port": "25565",
  "secret": "",
  "world": "worlds/lobby",
  "spawn": { "x": "-20.5", "y": "65.0", "z": "0.5", "yaw": "-90.0", "roll": "0.0" },
  "portals": {
    "testing": { "x": "-12.0", "y": "66.0", "z": "8.0" },
    "testing2": { "x": "-7.0", "y": "66.0", "z": "8.0" },
    "skyblock_ob": { "x": "4.0", "y": "76.0", "z": "-7.0" },
    "creative": { "x": "9.0", "y": "66.0", "z": "8.0" },
    "survival": { "x": "9.0", "y": "66.0", "z": "-7.0" }
  }
}
