{
  "toolchain": {
    "gradleBin": "/usr/bin/gradle",
    "javaHome": "/opt/openjdk-bin-21"
  },
  "server": {
    "port": "25565",
    "world": "worlds/lobby",
    "spawn": { "x": "-20.5", "y": "65.0", "z": "0.5", "yaw": "-90.0", "roll": "0.0" },
    "portals": {
      "testing": { "x": "-13.0", "y": "66.0", "z": "8.0" },
      "testing2": { "x": "-8.0", "y": "66.0", "z": "8.0" },
      "skyblock_ob": { "x": "4.0", "y": "76.0", "z": "-8.0" },
      "creative": { "x": "9.0", "y": "66.0", "z": "8.0" },
      "survival": { "x": "9.0", "y": "66.0", "z": "-8.0" }
    },
    "operators": [ "Chiaki_Nanami_AI" ]
  }
}
